<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User List</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Users List</h1>

      <table id="userTable">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user, iterStat : ${users}">
            <td th:text="${iterStat.index + 1}">1</td>
            <td th:text="${user.name}">User Name</td>
            <td th:text="${user.email}">user@example.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
